[submodule "visual_effects"]
	path = visual_effects
	url = https://github.com/comargo/visual_effects.git
[submodule "stm32_hal_btn"]
	path = stm32_hal_btn
	url = https://github.com/comargo/stm32_hal_btn.git
[submodule "stm32_hal_ws281x"]
	path = stm32_hal_ws281x
	url = https://github.com/comargo/stm32_hal_ws281x.git
[submodule "stm32_hal_irremote"]
	path = stm32_hal_irremote
	url = https://github.com/comargo/stm32_hal_irremote.git
